name: Unreal Project Release

on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
    tags:
      - "v*.*.*"
  pull_request:
    paths-ignore:
      - README.md

jobs:
  CronosPlaySimpleDemo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Checkout play-unreal-plugin repo
        uses: actions/checkout@v4
        with:
          repository: cronos-labs/play-unreal-plugin
          path: simple/Plugins/play-unreal-plugin

      - name: Build play-unreal-plugin repo
        run: |
          cd simple/Plugins/play-unreal-plugin
          TARGET=4.27 make
          python change_version.py 4.27.0

      - name: Package
        run: |
          FILENAME="CronosPlaySimpleDemo.zip"
          zip -r ${FILENAME} simple -x "simple/.git/*" "simple/.git/*" "simple/Plugins/play-unreal-plugin/.git/*"  "simple/Plugins/play-unreal-plugin/.github/*" "simple/Plugins/play-unreal-plugin/install/*"
          sha256sum ${FILENAME} > "checksums-${FILENAME}.txt"
          echo "demo_project_file=${FILENAME}" >> $GITHUB_ENV
          echo "demo_checksum_file=checksums-${FILENAME}.txt" >> $GITHUB_ENV

      - name: Upload demo project and checksum file to Release
        uses: softprops/action-gh-release@v1
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        with:
          draft: true
          files: |
            ${{ env.demo_project_file }}
            ${{ env.demo_checksum_file }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  CronosPlayMetaverseDemo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Checkout play-unreal-plugin repo
        uses: actions/checkout@v4
        with:
          repository: cronos-labs/play-unreal-plugin
          path: Metaverse/Plugins/play-unreal-plugin

      - name: Build play-unreal-plugin repo
        run: |
          cd Metaverse/Plugins/play-unreal-plugin
          TARGET=5.1 make
          python change_version.py 5.1.0

      - name: Package
        run: |
          FILENAME="CronosPlayMetaverseDemo.zip"
          zip -r ${FILENAME} Metaverse -x "Metaverse/.git/*" "Metaverse/.git/*" "Metaverse/Plugins/play-unreal-plugin/.git/*"  "Metaverse/Plugins/play-unreal-plugin/.github/*" "Metaverse/Plugins/play-unreal-plugin/install/*"
          sha256sum ${FILENAME} > "checksums-${FILENAME}.txt"
          echo "demo_project_file=${FILENAME}" >> $GITHUB_ENV
          echo "demo_checksum_file=checksums-${FILENAME}.txt" >> $GITHUB_ENV

      - name: Upload demo project and checksum file to Release
        uses: softprops/action-gh-release@v1
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        with:
          draft: true
          files: |
            ${{ env.demo_project_file }}
            ${{ env.demo_checksum_file }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  CronosPlayWalletConnectDemo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Checkout play-unreal-plugin repo
        uses: actions/checkout@v4
        with:
          repository: cronos-labs/play-unreal-plugin
          path: walletconnect/Plugins/play-unreal-plugin

      - name: Build play-unreal-plugin repo
        run: |
          cd walletconnect/Plugins/play-unreal-plugin
          TARGET=5.4 make
          python change_version.py 5.4.0

      - name: Package
        run: |
          FILENAME="CronosPlayWalletConnectDemo.zip"
          zip -r ${FILENAME} walletconnect -x "walletconnect/.git/*" "walletconnect/.git/*" "walletconnect/Plugins/play-unreal-plugin/.git/*"  "walletconnect/Plugins/play-unreal-plugin/.github/*" "walletconnect/Plugins/play-unreal-plugin/install/*"
          sha256sum ${FILENAME} > "checksums-${FILENAME}.txt"
          echo "demo_project_file=${FILENAME}" >> $GITHUB_ENV
          echo "demo_checksum_file=checksums-${FILENAME}.txt" >> $GITHUB_ENV

      - name: Upload demo project and checksum file to Release
        uses: softprops/action-gh-release@v1
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        with:
          draft: true
          files: |
            ${{ env.demo_project_file }}
            ${{ env.demo_checksum_file }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
